@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat&display=swap");
@import "./base/reset";

.wrapper {
   min-height: 100svh;
   display: flex;
   flex-direction: column;
   background: url("images/bg.jpeg") 0 0 / cover no-repeat;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
}

@import "base";
@import "common";

[class*="__container"] {
   max-width: toRem(1354);
   margin-inline: auto;
   padding-inline: toRem(15);
}

body {
   font-family: "Montserrat", sans-serif;
   font-size: toRem(24);
   line-height: 120.833333%; /* 29/24 */
   color: #fff;
}

@import "./footer";
// Blocks
@import "./blocks/services";
@import "./blocks/projects";
@import "./blocks/youtube";
@import "./blocks/partners";
